<a href="https://colab.research.google.com/github/jyg333/avr_training/blob/main/Using_fin_BERT_v3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install transformers

In [ ]:
from transformers.utils.dummy_pt_objects import BertForSequenceClassification
from transformers import BertTokenizer, BertForSequenceClassification

from transformers import AutoTokenizer, AutoModelForSequenceClassification

tokenizer = AutoTokenizer.from_pretrained("snunlp/KR-FinBert-SC")

model = AutoModelForSequenceClassification.from_pretrained("snunlp/KR-FinBert-SC")

from transformers import pipeline
nlp = pipeline("sentiment-analysis", model = model, tokenizer = tokenizer)

input = " "
nlp(input)

In [ ]:
!pip install selenium
# !apt-get update
!apt install chromium-chromedriver

In [ ]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By

samsung_url = 'https://finance.naver.com/item/news.naver?code=005930'
naver_url = 'https://finance.naver.com/item/news.naver?code=035420'
kakao_url = 'https://finance.naver.com/item/news.naver?code=035720'
lgES_url = 'https://finance.naver.com/item/news.naver?code=373220'

chrome_opt = webdriver.ChromeOptions()
chrome_opt.add_argument('--headless')  # 창을 숨기는 옵션
chrome_opt.add_argument('--no-sandbox')
chrome_opt.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver', options=chrome_opt)
wd.get(lgES_url)

time.sleep(2)

para = []
total = []
a = 1
for i in range(10):
    wd.switch_to.frame('news')

    
    time.sleep(3)
    
    if a in [5,7,9]:
      a += 1
    
    print(a)
    xpath = (f'/html/body/div/table[1]/tbody/tr[{a}]/td[1]/a')
    
      
    wd.find_element(by=By.XPATH, value=xpath).click()
    ids = 'news_read'
    for t1 in wd.find_elements_by_id(ids):  # find_elements(by=By.ID, value=ids):
        para.append(t1.text)

        time.sleep(2)
    
    a += 1
    wd.back()
    time.sleep(2)
    total.append(para)
    
wd.close()

In [51]:
pos = 0
neu = 0
nega = 0
# result = list((nlp(para[i][:500])[0]).values())
for i in range(10):
  
  if len(para[i]) > 510:
    # print((nlp(para[i][300:800])))
    result = list((nlp(para[i][10:510])[0]).values())
    
    if result[0] == 'positive' and result[1] >0.7:
      pos += 1
    elif result[0] == 'negative' and result[1] >0.7:
      nega += 1
    elif result[0] == 'neutral' and result[1] >0.7:
      neu += 1

  else:  
    result01 = list((nlp(para[i])[0]).values())
    if result01[0] == 'positive' and result01[1] >0.7:
      pos += 1
    elif result01[0] == 'negative' and result01[1] >0.7:
      nega += 1
    elif result01[0] == 'neutral' and result01[1] >0.7:
      neu =+ 1
print(pos, nega, neu)

7 0 3

In [43]:
pnn = pos + nega + neu

if pnn < 10:
  neu = neu + (10-pnn)

In [ ]:
!pip install PyMySQL
!pip install -U finance-datareader

In [ ]:
"""Access AWS RDS"""

import pymysql

host_name = 'hidden'

user_name = 'hidden'
pass_word = 'hidden'
db_name = 'database-1'

db = pymysql.connect(host=host_name,port=3306,user= user_name,passwd=pass_word)

cursor = db.cursor()
cursor.execute("select version()")

In [24]:
import FinanceDataReader as fdr
from datetime import datetime

today = datetime.now().strftime("%Y-%m-%d")
stock_list = ["Naver" , "samsung", "LGEnergySol", "KaKao"]
stock_code = {
    "Naver" : '035420',
    "samsung" : '005930',
    "LGEnergySol" : '373220',
    "KaKao" : '035720'
}

open_price = []

for i in range(4):
  stock_price = fdr.DataReader(stock_code[stock_list[i]] ,today)
  stock_price = int(stock_price['Open'][0])
  open_price.append(stock_price)

In [52]:
cursor = db.cursor()

query00 = """use stock_anal """
cursor.execute(query00)
query = f"INSERT INTO LGEnergySol (id, price, date, positive, negative, neutral) VALUE ({2}, {open_price[2]}, now(), {pos}, {nega}, {neu})"
cursor.execute(query)

1

In [53]:
db.commit()

In [ ]:
query02 = "delete from samsung where id > 0"
cursor.execute(query02)

In [262]:
cursor.close()